nav{
    display: flex;
    flex-direction: column;
    padding: 10px;
    flex: 20%;
}
.userdetail{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.navbuttons{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.navbutton{
    border: none;
    background: none;
    padding: 10px;
    border-radius: 5px;
    width: 100%;
}
.navbutton:hover{
    background: rgb(12, 128, 223);
    font:500;
    color: white;
}